# dependencies
/node_modules

# Next.js
/.next/
/out/

# production
/build

# local environment
.env*
!.env.example

# OS and editor
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel
